
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTCL.cshtml";
}

<div class="main container">
    <div class="banner">
    </div>
    <div class="content">
        <p style="text-align:center;font-weight:bold;font-size:32px;">THỂ LỆ CHƯƠNG TRÌNH KHUYẾN MÃI</p>
        <p><b>1. Tên chương trình khuyến mãi:</b> "Chào mừng Đại lễ kỷ niệm 25 năm thành lập Tập đoàn Tân Á Đại Thành"</p>
        <p>2. Hàng hóa dịch vụ khuyến mãi:Tất cả các sản phẩm do công ty TNHH Sản xuất và thương mại Tân Á Hưng Yên sản xuất và phân phối</p>
        <p>3. Thời gian khuyến mãi: Từ ngày 05/12/2018 đến hết ngày 28/12/2018</p>
        <p>4. Địa bàn (pham vi) khuyến mãi: 36 tỉnh Miền Bắc và Miền Trung (từ tỉnh Hà Giang đến tỉnh Phú Yên)</p>
        <p>5. Hình thức khuyến mại (ghi rõ khuyến mại mang tính may rủi hoặc hình thức khác): Bán hàng, cung ứng dịch vụ kèm theo việc tham dự các chương trình khuyến mại mang tính may rủi</p>
        <p>6. Khách hàng của chương trình khuyến mại (đối tượng hưởng khuyến mại): </p>
        <p>-	Khách hàng là cửa hàng, đại lý bán hàng trực tiếp và nhà phân phối chính thức sản phẩm do công ty TNHH Sản xuất và thương mại Tân Á Hưng Yên sản xuất và phân phối mua đơn hàng từ có giá trị từ 25.000.000 đồng (Hai mươi lăm triệu đồng, đã bao gồm VAT) trở lên trong thời gian diễn ra chương trình khuyến mại)</p>
        <p>-	Nhân viên của Công ty TNHH Sản xuất và Thương mại Tân Á Hưng Yên, các công ty quảng cáo, truyền thông và in ấn phục vụ liên quan đến chương trình không được tham gia chương trình khuyến mại này.</p>
        <p><b>7. Cơ cấu giải thưởng:</b></p>
        <table class="table table-bordered table-inverse cocaugiai">
            <thead>
                <tr>
                    <th>
                        Cơ cấu giải thưởng
                    </th>
                    <th>
                        Nội dung giải thưởng<br />
                        (chi tiết nội dung và ký mã hiệu từng giải thưởng)
                    </th>
                    <th>
                        Trị giá giải thưởng đã bao gồm VAT
                        (VNĐ)

                    </th>
                    <th>
                        Số giải
                    </th>
                    <th>
                        Thành tiền
                        (VNĐ)

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5">Giải trúng ngay sau khi mua sản phẩm</td>
                </tr>
                <tr>
                    <td>Giải 4</td>
                    <td>Mã thẻ nạp điện thoại trị giá 20.000</td>
                    <td>20</td>
                    <td>4,000</td>
                    <td>80,000,000</td>
                </tr>
                <tr>
                    <td>Giải 3</td>
                    <td>Mã thẻ nạp điện thoại trị giá 50.000</td>
                    <td>50</td>
                    <td>8,000</td>
                    <td>400,000,000</td>
                </tr>
                <tr>
                    <td>Giải 2</td>
                    <td>Mã thẻ nạp điện thoại trị giá 100.000</td>
                    <td>100</td>
                    <td>2,000</td>
                    <td>200,000,000</td>
                </tr>
                <tr>
                    <td>Giải 1</td>
                    <td>Mã thẻ nạp điện thoại trị giá 200.000</td>
                    <td>200</td>
                    <td>1,000</td>
                    <td>200,000,000</td>
                </tr>
                <tr>
                    <td colspan="5">Giải quay thưởng</td>
                </tr>
                <tr>
                    <td>Giải tư</td>
                    <td>Chậu rửa Rossi mã hiệu RA82</td>
                    <td>1,125,000</td>
                    <td>225</td>
                    <td>253,125,000</td>

                </tr>
                <tr>
                    <td>Giải ba</td>
                    <td>Máy bơm đa năng Aquastrong mã hiệu EQm60</td>
                    <td>1,500,000</td>
                    <td>225</td>
                    <td>337,500,000</td>

                </tr>
                <tr>
                    <td>Giải nhì</td>
                    <td>Máy lọc nước thông minh Tân Á Smart 04 lõi</td>
                    <td>3,000,000</td>
                    <td>125</td>
                    <td>375,000,000</td>

                </tr>
                <tr>
                    <td>Giải nhất</td>
                    <td>01 chỉ vàng 9999</td>
                    <td>3,700,000</td>
                    <td>25</td>
                    <td>92,500,000</td>

                </tr>
                <tr>
                    <td>Giải đặc biệt</td>
                    <td>Xe Honda Wave RSX</td>
                    <td>22,490,000</td>
                    <td>25</td>
                    <td>562,250,000</td>

                </tr>
            </tbody>
        </table>
        <p>Tổng giá trị giải thưởng so với tổng giá trị hàng hoá khuyến mại: 0,67 %</p>
        <p>-	Giải thưởng không được quy đổi thành tiền mặt.</p>
        <p>-	Công ty TNHH Sản xuất và Thương mại Tân Á Hưng Yên cam kết giá trị giải thưởng trên là chính xác, được xác định trên cơ sở báo giá, giá bán trên thị trường và hóa đơn đầu vào mua giải thưởng của Công ty. </p>
        <p><b>8. Nội dung chi tiết thể lệ chương trình khuyến mại:</b></p>
        <p>8.1 Điều kiện, cách thức, thủ tục cụ thể khách hàng phải thực hiện để được tham gia chương trình khuyến mại:</p>
        <p>-    Bước 1:  Khách hàng sau khi mua sản phẩm của công ty TNHH sản xuất và thương mại Tân Á Hưng Yên đạt tiêu chuẩn tham gia chương trình khuyến mại (Giá trị hàng hóa mua từ 25 triệu đồng trở lên, đã bao gồm VAT) sẽ được tặng kèm 01 thẻ cào có mã số dự thưởng. Khách hàng thực hiện việc cào vào ô phủ bạc có ghi chú “Phần cào ngay” để lấy Mã số dự thưởng. </p>
        <p>-    Bước 2: </p>
        <p>-	Khách hàng nhắn Mã số dự thưởng về tổng đài 8077 để nhận may mắn trúng ngay 01 mã số nạp tiền điện thoại (mệnh giá 20.000 đồng, 50.000 đồng, 100.000 đồng, 200.000 đồng)</p>
        <p>-	Tin nhắn hợp lệ được tính từ ngày 05/12/2018 đến ngày 28/12/2018 và nội dung tin nhắn phải đúng cú pháp và Mã số dự thưởng được  in trên thẻ cào. Trường hợp khách hàng khi nhắn tin dự thưởng về tổng đài 8077 gặp lỗi hoặc không nhận được tin nhắn phản hồi, vui lòng gọi điện tới số hotline 18006668 để được nhân viên tổng đài hỗ trợ.</p>
        <p>-    Kịch bản tin nhắn:</p>


        <div id="phoneNumbersContainer">
            <input type="text" id="phoneNumberTextBox" readonly>
            <button id="randomPhoneNumberButton">Lấy số điện thoại ngẫu nhiên</button>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var phoneNumbers = [
                "0123456789",
                "0987654321",
                "0369123456",
                "0909123456",
                // Thêm các số điện thoại khác vào danh sách
            ];

            $("#randomPhoneNumberButton").click(function () {
                var randomIndex = Math.floor(Math.random() * phoneNumbers.length);
                var randomPhoneNumber = phoneNumbers[randomIndex];
                $("#phoneNumberTextBox").val(randomPhoneNumber);
            });
        });
    </script>
}
