
@{
    ViewBag.Title = "WinnerNoList";
    Layout = "~/Views/Shared/_LayoutTCL.cshtml";
}

<div class="main row">
    <div class="title">
        <div class="group-title">
            <p>
                <SPAN>ĐANG CHỜ QUAY THƯỞNG</SPAN>
            </p>
        </div>
    </div>   
    <div class="time">
        <div class="col-md-9 content-time">
            @*<p style="font-size:21px;text-decoration:underline;">THỜI GIAN NHẬN TIN NHẮN VÀ QUAY SỐ</p>
            <p>- Tuần 1: 22-06-18 Từ 14:00’ ngày 15/6  – Đến 13:59’ ngày 22/6</p>
            <p>- Tuần 2: 29-06-18 Từ 14:00’ ngày 21/6 – Đến 13:59’ ngày 29/6</p>
            <p>- Tuần 3: 06-07-18 Từ 14:00’ ngày 28/6  – Đến 13:59’ ngày 06/7</p>
            <p>- Tuần 4: 14-07-18 Từ 14:00’ ngày 05/7 – Đến 13:59’ ngày 14/7</p>*@
        </div>
        <div class="col-md-3 img-time">
            <img src="~/image/goodluck.png" alt="" class="img-responsive"/>
        </div>
    </div>
</div>

